<h2 class="h4">Mon panier</h2>

@if (items()) {
<div class="card">
  <div class="card-header">
    {{ items().length }} {{ items().length === 1 ? 'article' : 'articles' }}
  </div>

  <ul class="list-group list-group-flush">
    @for (item of items(); track item) {
    <li class="list-group-item d-flex justify-content-between">
      {{ item.title }}
      <span class="text-primary">{{ item.price | currency }}</span>
    </li>
    } @if (items().length) {
    <li class="list-group-item d-flex justify-content-between fw-bold">
      Total <span class="text-primary">{{ total() | currency }}</span>
    </li>
    } @else {
    <li class="list-group-item text-secondary">Votre panier est vide</li>
    }
  </ul>
</div>
}
